      <!-- 5 STEPS -->
      <ul class="steps steps has-content-centered">
      <li class="steps-segment is-active">
        <span class="steps-marker">1</span>
          <div class="steps-content">
          <p class="is-size-4">Overview</p>
         
        </div>
      </li>
      <li class="steps-segment">
      <span class="steps-marker">2</span>
        <div class="steps-content">
          <p class="is-size-4">Pricing</p>
         
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker">3</span>
          <div class="steps-content">
          <p class="is-size-4">Description</p>
         
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker">4</span>
          <div class="steps-content">
          <p class="is-size-4">Gallery</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker">5</span>
          <div class="steps-content">
          <p class="is-size-4">Publish</p>
        </div>
      </li>
    </ul>